* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100%;
    background: linear-gradient(140deg, rgb(231, 245, 255), rgb(251, 200, 255));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number__top {
    width: 300px;
    transform: translateY(81px);
    position: relative;
    z-index: 100;
}

.number__img-top {
    animation: rotate-r 60s infinite linear;
}

.number__img-btm {
    animation: rotate-l 60s infinite linear;
}

.number__btm {
    width: 400px;
}

.text {
    color: #ff0000;
    text-align: center;
}

.text__title {
    font-family: 'Jura', sans-serif;
    font-size: 100px;
    color: #ff0000;
    animation: zoom-text 5s 1s backwards;
}

.text__subtitle {
    font-family: 'Bad Script', cursive;
    font-size: 50px;
    animation: zoom-text 5s 3s backwards;
}

@keyframes rotate-r {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-l {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes zoom-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}